@model Diary.WEB.ViewModels.Account.ForgotPasswordViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/changePassword.css" rel="stylesheet" type="text/css" />

<div class="change">

	<h3>Відновлення паролю для користувача: @Model.UserName</h3>

	<form asp-action="ChangePasswordWithoutOld" asp-controller="Account" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<input type="hidden" asp-for="Email" />

		<label asp-for="NewPassword">Введіть новий пароль:</label>
		<input type="password" placeholder="Пароль" asp-for="NewPassword" />
		<span asp-validation-for="NewPassword"></span>

		<input type="submit" value="Зберегти" />
	</form>
</div>
