@model Diary.WEB.ViewModels.Account.RegisterViewModel

<title>Реєстрація на сайті • Day book</title>
<link href="~/css/registration.css" rel="stylesheet" type="text/css" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<form method="post" asp-controller="Account" asp-action="Register">
	<div class="register-form">

		<h1>Day book</h1>

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<input type="text" asp-for="UserName" placeholder="Нікнейм" />

		<input type="email" asp-for="Email" placeholder="Email" />

		<input type="password" asp-for="Password" placeholder="Пароль" />

		<input type="password" asp-for="ConfirmPassword" placeholder="Підтвердіть пароль" />

		<div>
			<div class="input-group-prepend captcha">
				<img id="img-captcha" src="~/get-captcha-image" />
			</div>

			<input type="text" asp-for="Captcha" placeholder="Captcha Code" maxlength="4" autocomplete="off"/>
		</div>

		<div class="register-submit">
			<input type="submit" value="Зареєструватись" />
		</div>
	</div>
</form>
