@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/forgotPassword.css" rel="stylesheet" type="text/css" />

<div class="forgot">

	<h3>Введіть email, на який відправити посилання для зміни паролю</h3>

	<form asp-action="SendLinkForChengePassword" asp-controller="Account" method="post">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<input type="email" placeholder="Email" name="email" />
		<input type="submit" value="Підтвердити" />
	</form>
</div>
