.diary h4 a {
	float: left;
	margin: 0.4em 0 0 0;
}

.diary h4 a:hover {
	color: white;
	text-decoration: none;
}

.logoff a {
	float: right;
	margin: 0.4em 0 0 0;
}

.logoff a:hover {
	color: white;
	text-decoration: none;
}

.submit input[type = "submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 6em 37em;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 0 0;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	height: 2em;
	width: 6em;
}

.submit input[type = "submit"]:hover {
	background: #2ecc71;
}

