.change {
	color: white;
	width: 23em;
	height: 19em;
	background: #202020;
	margin: 5em auto 0;
	padding: 1em 3em;
	border-radius: 24px;
	display: block;
	font-size: 16px;
}

	.change h3 {
		color: white;
		text-align: center;
		margin-bottom: 2em;
	}

	.change input[type="password"] {
		color: white;
		border: 0;
		outline: none;
		border: 2px solid #2b2b2b;
		background-color: #2b2b2b;
		padding: 0 0 0 1em;
		height: 2.5em;
		width: 100%;
	}

		.change input[type="password"]:focus {
			background-color: #484848;
		}

	.change input[type="submit"] {
		border: 0;
		background-color: #202020;
		text-align: center;
		float: right;
		outline: none;
		color: white;
		border-radius: 24px;
		transition: 0.25s;
		cursor: pointer;
		height: 2em;
		width: 6em;
		margin: 2em 0 0 0;
	}

		.change input[type="submit"]:hover {
			background: #484848;
		}

.title {
	margin-left: 1em;
}