.change {
	color: white;
}

.change h3 {
	color: white;
	margin: 2em 0 0 6em;
}

.box {
	display: block;
	margin: 0 0 0 5.5em;
}

.change label {
	margin: 3em 0 0 19em;
}

.change input[type="password"] {
	border: 2px solid aqua;
	border-radius: 2em;
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
	background: none;
	outline: none;
	height: 2.5em;
	color: white;
}

.change input[type="password"]:focus {
	border: 2px solid #2ecc71;
}

.change input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	text-align: center;
	border: 2px solid #2ecc71;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	height: 2.7em;
	width: 7em;
	margin: 4em 0 0 55em;
}

.change input[type="submit"]:hover {
	background: #2ecc71;
}
