body {
	font-family: sans-serif;
	color: white;
}

.box {
	padding: 2em 2em 2em 2em;
	border-radius: 24px;
	width: 49em;
	height: 36em;
	margin: 2em 0 0 20em;
	color: white;
	padding: 3em 3em 0em 3em;
}

.box input[type = "text"] {
	border: 0;
	background: none;
	background-color: #0d1428;
	display: block;
	margin-top: 0;
	margin-left: 1em;
	margin-bottom: 3em;
	border: 2px solid #00FFFF;
	padding: 14px 10px;
	width: 15em;
	height: 3em;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	resize: none;
}

.box input[type = "text"]:focus {
	width: 20em;
	border-color: #2ecc71;
}

.box textarea[type = "text"] {
	border: 0;
	background: none;
	background-color: #0d1428;
	display: block;
	margin: 0 0 3em 1em;
	border: 2px solid #00FFFF;
	padding: 14px 10px;
	width: 30em;
	height: 10em;
	outline: none;
	color: white;
	transition: 0.25s;
	resize: none;
}

.box textarea[type = "text"]:focus {
	border-color: #2ecc71;
}

.box span {
	font-size: 18px;
	margin-left: 1.5em;
}


.box hr{
	margin: 1em 0em 0.7em 0em;
	border-color: aqua;
}

h1 {
	text-align: center;
}

.dataBox{

}

.DateCreation {
	float: right;
}

.DateCreation p{
	font-size: 12px;
}

.ModifiedDate {
	float: right;
}

.ModifiedDate p {
	font-size: 12px;
}
