.forgot {
	margin: 5em 0 0 0;
}

.forgot h3 {
	color: white;
	margin: 0 0 0 9em;
}

.forgot input[type="email"] {
	border: 2px solid aqua;
	border-radius: 2em;
	padding: 0 0 0 1em;
	margin: 4em 0 0 33em;
	background: none;
	outline: none;
	height: 2.5em;
	color: white;
}

.forgot input[type="email"]:focus {
	border: 2px solid #2ecc71;
}

.forgot input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	text-align: center;
	border: 2px solid #2ecc71;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	height: 2.7em;
	width: 7em;
	margin: 2em 0 0 36em
}

.forgot input[type="submit"]:hover {
	background: #2ecc71;
}
